<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
      <ion-title>
        IMAD
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
  <ion-card>
      <ion-card-content>
        
          <ion-card-title text-center>
              About Us 
            </ion-card-title>
            <br/>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Suspendisse est felis, interdum id justo nec, dapibus 
                ultrices purus. Sed diam augue, congue non ultricies at, 
                posuere sed enim. Praesent efficitur ullamcorper feugiat. 
                Aenean ut gravida ante. Suspendisse molestie enim in purus 
                pellentesque laoreet. Curabitur libero justo, porta id velit 
                elementum, ultrices luctus diam. Praesent iaculis pharetra 
                felis, semper lacinia ipsum efficitur quis.
            </p>
            <br/>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Suspendisse est felis, interdum id justo nec, dapibus 
                ultrices purus. Sed diam augue, congue non ultricies at, 
                posuere sed enim. Praesent efficitur ullamcorper feugiat. 
                Aenean ut gravida ante. Suspendisse molestie enim in purus 
                pellentesque laoreet. Curabitur libero justo, porta id velit 
                elementum, ultrices luctus diam. Praesent iaculis pharetra 
                felis, semper lacinia ipsum efficitur quis.
            </p>
            <br/>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Suspendisse est felis, interdum id justo nec, dapibus 
                ultrices purus. Sed diam augue, congue non ultricies at, 
                posuere sed enim. Praesent efficitur ullamcorper feugiat. 
                Aenean ut gravida ante. Suspendisse molestie enim in purus 
                pellentesque laoreet. Curabitur libero justo, porta id velit 
                elementum, ultrices luctus diam. Praesent iaculis pharetra 
                felis, semper lacinia ipsum efficitur quis.
            </p>
            <br/>
      </ion-card-content>
    </ion-card>
  </ion-content>
  