<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
      <ion-title>
        IMAD
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
  <ion-card>
      <ion-card-content>
        
          <ion-card-title text-center>
              About Us 
            </ion-card-title>
            <br/>
            <p>
              IMAD is a mobile application for dyslexia children.
              This application focused on how to assist dyslexia children to recognize 
              Hijaiyah letter” before they can learn Iqra. 
              The objective of this application is to support children with dyslexia have 
              difficulty in reading the Quranic verses by using Iqra which is the basic 
              reading material for Quranic verses. Alternatively, IMAD is considered as 
              greatest way to encourage children with dyslexia to learn and capture it.
            </p>
            <br/>
      </ion-card-content>
    </ion-card>
  </ion-content>
  