<ion-header>
  <ion-toolbar>
    <ion-title>
      IMAD
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-card routerLink="/iqra">
  <div class="kb-div-card-image">
      <img src="assets/image/iqra.jpg"/>
  </div>
    <ion-card-content>
      <ion-card-title text-center>
        IQRA 
      </ion-card-title>
    </ion-card-content>
  </ion-card>
  <ion-card routerLink="/about">
    <div class="kb-div-card-image">
        <img src="assets/image/about.jpg"/>
    </div>
      <ion-card-content>
        <ion-card-title text-center>
          About Us 
        </ion-card-title>
      </ion-card-content>
    </ion-card>
    <ion-card routerLink="/contact">
      <div class="kb-div-card-image">
          <img src="assets/image/contact.jpg"/>
      </div>
        <ion-card-content>
          <ion-card-title text-center>
            Contact Us 
          </ion-card-title>
        </ion-card-content>
      </ion-card>
</ion-content>
