<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>
      IMAD
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-card>
    <ion-card-content>
      
        <ion-card-title text-center>
            Contact Us 
          </ion-card-title>
          <br/>
        <ion-grid>
          <ion-row>
            <ion-col size="2">
              <ion-icon name="map"></ion-icon>
            </ion-col>
            <ion-col>
              Universiti Teknologi PETRONAS
            </ion-col>
          </ion-row> 
          <ion-row>
            <ion-col size="2">
              <ion-icon name="call"></ion-icon>
            </ion-col>
            <ion-col>
              +60 17 503 3376
            </ion-col>
          </ion-row> 
          <ion-row>
            <ion-col size="2">
              <ion-icon name="mail"></ion-icon>
            </ion-col>
            <ion-col>
              ashraffadzil19@gmail.com
            </ion-col>
          </ion-row> 
        </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
