div span:nth-child(1){
    color: rgb(0, 26, 255);
}
div span:nth-child(2){
    color: rgb(21, 255, 0);
}
div span:nth-child(3){
    color: rgb(255, 0, 0);
}

div span{
    font-size: 35px;
}

.div-image{
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.card-height{
    height: 20vh;
}