<ion-header>
  <ion-toolbar>
    <ion-title>
      IMAD
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-card>
  <div class="kb-div-card-image">
      <img src="assets/image/logo.png"/>
  </div>
    <ion-card-content>
      <ion-card-title text-center>
        IQRA MOBILE APPLICATION FOR DYSLEXIA CHILDREN  
      </ion-card-title>
      <ion-button color="success" expand="block" routerLink="/imad">Start</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
